<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ProjetoIndexacaoDBEntities" connectionString="metadata=res://*/MusicasIndexadasDB.csdl|res://*/MusicasIndexadasDB.ssdl|res://*/MusicasIndexadasDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=win382720j475\sqlexpress;initial catalog=MusicasIndexadasDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ProjetoIndexacaoDBEntities" connectionString="metadata=res://*/MusicasIndexadasDB.csdl|res://*/MusicasIndexadasDB.ssdl|res://*/MusicasIndexadasDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Felipe-PC\SQLEXPRESS;initial catalog=MusicasIndexadasDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>