<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjetoIndexacaoDBEntities" connectionString="metadata=res://*/MusicasIndexadasDB.csdl|res://*/MusicasIndexadasDB.ssdl|res://*/MusicasIndexadasDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN382692S475\SQLEXPRESS;initial catalog=ProjetoIndexacaoDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>